/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Changed font to Roboto for a modern look */
    background-color: #f8f8f8; /* Light gray background */
}

header {
    background-color: #2c3e50; /* Dark blue background */
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px; /* Increased margin for better spacing */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold; /* Added bold font weight */
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px auto; /* Center main content */
    max-width: 800px; /* Set maximum width for better readability */
}

footer {
    background-color: #2c3e50; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.8em; /* Reduced font size for footer */
}
